[Desktop Entry]
Name=Xmailbox
Type=Application
Comment=Mailbox checker
Comment[pl]=Sprawdzanie poczty
Icon=xmailbox
Exec=xmailbox
Terminal=false
# vi: encoding=utf-8
