[Desktop Entry]
Encoding=UTF-8
Name=Xmailbox
Type=Application
Comment=Mailbox checker
Comment[pl]=Sprawdzanie poczty
Icon=xmailbox.png
Exec=xmailbox
Terminal=false
